.caption {
  background-color: $captionBgColor;
  position: absolute;
  color: $captionTextColor;
  z-index: 101;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  left: 0;
  top: 0; }
.caption h1, h2, h3, h4, h5 {
  margin-top:0;
}

.fade-caption {
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 1em; }
  .fade-caption p {
    line-height: 1.16667rem; }

.gallery-item {
  position:relative;
  margin:0;
  margin-bottom: 20px;
  img {
    max-width:100%;
  }
}
.gallery-item:hover .fade-caption {
  opacity: 1;
}
