.ss-q-help {
  font-size: 14px;
  font-style: italic;
  color: $gray;
}
.ss-q-title {
  margin: rem(8px) 0 rem(4px);
}
.ss-choice-label {
  font-weight:normal;
}
.required-message {
  display:none;
}
.goog-inline-block {
  display:inline-block;
}
.ss-required-asterisk {
  color:$red;
}
