// Template 2

body {
   margin-top:0px;
   font-family: $font-family-sans-serif;
   background-color: $background-color;
   color: $text-color;
}

@media (min-width: 768px) {
  .container {
    max-width: 767px;
  }
}

#navigation {
  padding-top:20px;
}
#bg {
  position:relative;
  width:100%;
  max-width:1400px;
  margin:0 auto;
  z-index: -10;
}

.bgHolder {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  padding-top:40%;
  height:560px;
  background: $t2-bg-img;
  background-position:center;
  background-size:cover;
  -moz-background-size:cover;
}
.hero {
  padding:20px;
  margin-top: 50px;
  margin-bottom: 50px;
  color:$white;
  background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);   /* IE6 & 7 */
    zoom: 1;
    background: rgba(0, 0, 0, 0.3);
  h1 {
  font-size: 48px;
  margin-bottom:0px;
  @media screen and (max-width:768px){
    font-size: 42px;
    }
  }
}
.heroFront {
  padding:40px;
  background: $background-color;
}
#heroText {
  padding-top:20px;
  @media screen and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.brand {
  color: $brand-color;
  margin-top: 0;
  line-height: 1;
}
.grid-4 img {
  margin:0 auto;
}
