// Template 3

body {
   margin-top:30px;
   font-family: $font-family-sans-serif;
   background-color: $background-color;
   color: $text-color;
   background: $t3-bg-img repeat;
}
@media (min-width: 768px) {
  .container {
    max-width: 920px;
  }
}
.t3-form {
  background: $t3-form-bg;
}
#logo {
  margin-top: 40px;
  margin-bottom: 40px;
    h1 {
    margin-top:5px;
    @media screen and (max-width:768px){
      margin-top:10px;
      font-size:26px;
    }
  }
}
