body {
  background-color: $background-color;
  background: $t7-bg-img;
  font-family: $font-family-sans-serif;
  color: $text-color;
}

.t7-img {
  @media screen and (max-width: 768px){
    width: 100%;
    padding: 0 !important; // This makes the image or heading go full width. If you have text inside, you'll want to apply padding to an inside div.
  }
}
