body {
  background-color: $background-color;
  background: $t8-bg-img;
  font-family: $font-family-sans-serif;
  color: $text-color;
}

@media (min-width: 500px) {
  .container {
    max-width: 500px;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}
.container {
  background: $t8-container-bg;
  padding-left:0;
  padding-right:0;
}
