@if $captions == y {

.caption {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  color: #f2f2f2;
  z-index: 101;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  left: 0;
  top: 0; }
.caption h1, h2, h3, h4, h5 {
  margin-top:0;
}

.fade-caption {
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 1em; }
  .fade-caption p {
    line-height: 1.16667rem; }

.item {
  position:relative;
  margin:0;
  img {
    @include img-responsive();
  }
}
.item:hover .fade-caption {
  opacity: 1; }

}