// Populate this list for colors to be used in backgrounds, buttons and text.

$colors: (
	navy: 			$navy,
	blue: 			$blue,
	cyan: 			$cyan,
	teal: 			$teal,
	olive: 			$olive,
	green: 			$green,
	lime: 			$lime,
	yellow: 		$yellow,
	orange: 		$orange,
	red: 			$red,
	magenta: 		$magenta,
	purple: 		$purple,
	maroon: 		$maroon,
	white: 			$white,
	silver: 		$silver,
	gray: 			$gray,
	black: 			$black
);


// Object Colors

/* Text Colors */
@each $color, $color-value in ($colors) {
  .text-#{$color}, a.text-#{$color} {
    color: $color-value !important;
  }
}
/* Link Colors */
@each $color, $color-value in ($colors) {
  a.text-#{$color}:hover {
    color: darken($color-value, 10%) !important;
  }
}
/* Background Colors */
@each $color, $color-value in ($colors) {
  .bg-#{$color} {
    background-color: adjust-color($color-value, $lightness: 30%, $saturation: -20%);
    padding:rem(15px);
    &.bg-indent {
      border-left: rem(5px) solid $color-value;
    }
  }
}
/* Button Colors */
@each $color, $color-value in ($colors) {
  .btn-#{$color} {
    background-color: $color-value;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: darken($color-value, 8%);
      text-decoration: none;
    }
  }
}
/* Label Colors */
@each $color, $color-value in ($colors) {
 	.label-#{$color}{
    	background: $color;
  	}
}
/* Badge Colors */
@each $color, $color-value in ($colors) {
 	.badge-#{$color}{
    	background: $color;
  	}
}
/* Form Colors */
@each $color, $color-value in ($colors) {
	.form-#{$color}{
		color: $color;
		input {
			border: 1px solid $color !important;
		}
	}
}


// Alert and Validation Colors

$yellow-bg:			adjust-color($yellow, $lightness: 35%, $saturation: -25%);
$yellow-text:		adjust-color($yellow, $lightness: -20%, $saturation: -15%);

$red-bg:			adjust-color($red, $lightness: 30%, $saturation: -25%);
$red-text:			adjust-color($red, $lightness: -10%, $saturation: -25%);

$blue-bg:			adjust-color($cyan, $lightness: 17%, $saturation: -20%);
$blue-text:			adjust-color($cyan, $lightness: -25%, $saturation: -25%);

$green-bg:			adjust-color($green, $lightness: 40%, $saturation: -20%);
$green-text:		adjust-color($green, $lightness: -15%, $saturation: -15%);

$alert-colors: (
	yellow: (
		bg:				$yellow-bg,
		text:			$yellow-text,
	),
	red: (
		bg:				$red-bg,
		text:			$red-text,
	),
	blue: (
		bg:				$blue-bg,
		text:			$blue-text,
	),
	green: (
		bg:				$green-bg,
		text:			$green-text,
	)
);


/* Alert Colors */

@each $alert-name in map-keys($alert-colors) {
  .alert-#{$alert-name} {
    @include alerts($alert-name);
  }
}