// Horizontal Form

.form-style {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea {
    padding: rem(10px) rem(16px);
    font-size: $font-size;
    display: inline-block;
    border: 1px solid $form-color;
    border-radius: $br;
    transition: border .3s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:focus {
      outline: 0;
      border-color: $form-focus;
    }
    &[disabled] {
      cursor: not-allowed;
      background-color: $silver;
      color: $form-color;
    }
    @include bp(mobile) {
      display:block;
      margin: rem(4px) 0;
    }
  }
  select {
    border: 1px solid $form-color;
    border-radius: $br;
    background-color: white;
  }
  select[multiple] {
    height: auto;
  }
  label {
    margin: rem(8px) 0 rem(4px);
    @include bp(mobile) {
      display:block;
      margin: rem(4px) 0;
    }
  }
  fieldset {
    margin: 0;
    padding: rem(5px) 0 rem(12px);
    border: 0;
  }
  legend {
    display: block;
    width: 100%;
    padding: rem(5px) 0;
    margin-bottom: rem(5px);
    color: $black;
    border-bottom: 1px solid $silver;
  }
  input[type="file"]:focus,
  input[type="radio"]:focus,
  input[type="checkbox"]:focus {
    outline: thin dotted lighten($black, 20%);
    outline: 1px auto lighten($black, 15%);
  }
}

//Vertical Form


.form-vertical {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea {
    display: block;
    margin: rem(4px) 0 rem(8px);
  }
}

.form-checkbox,
.form-radio {
  margin: rem(8px) 0;
  display:block;
}

// Aligned Form

.form-align {
  input,
  textarea,
  select {
    display: inline-block;
    vertical-align: middle;
  }
  textarea {
    vertical-align: top;
  }
  .form-group {
    margin-bottom: rem(6px);
    label {
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      width: rem(160px);
      margin: 0 rem(16px) 0 0;
      @include bp(mobile) {
        display:block;
        text-align:left;
        margin-bottom: rem(5px);
        width:100%;
      }
    }
  }
}