@if $modal == y {
    #lean_overlay {
        position: fixed;
        z-index:1100;
        top: 0px;
        left: 0px;
        min-height:100%;
        width:100%;
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQIW2NkYGD4D8RnGYHEGSA2BgAaUALOVyNONQAAAABJRU5ErkJggg==) repeat;
        display: none;
    }

    .modal-body {
    	background: rgba(255,255,255,0.85);
    	display:none;
    	border-radius:$br;
    	border: 1px solid #ddd;
    	@media only screen and (max-width: $break) {
    		width: 90%;
    	}
    	.modal-content {
    		padding:rem(25px);
    		font-size:$font-size;
          @media only screen and (max-width: $break) {
             .modal-video {
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 30px;
                height: 0;
                overflow: hidden;
             }

             .modal-video iframe,
             .modal-video object,
             .modal-video embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
             }
          }
    	}
    	.modal-close {
    		padding:rem(5px);
    		font-size:rem(24px);
    		color: $white;
    		position:absolute;
    		top:-25px;
    		right:-25px;
    		&:hover {
    			text-decoration:none;
    			color: darken($white, 10%);
    			cursor:pointer;
    		}
    	}
    }
}