// Display

.center-block   { margin: 1em auto; }
.clearfix       { @include clearfix; }

.hidden         { display:    none !important; }
.invisible      { visibility: none !important; }
.visible        { display: block   !important; }

.block          { display: block        !important; }
.inline         { display: inline       !important; }
.inline-block   { display: inline-block !important; }

.float-left     { float: left  !important; }
.float-right    { float: right !important; }

.align-left     { text-align: left   !important; }
.align-center   { text-align: center !important; }
.align-right    { text-align: right  !important; }


// Margins and Padding

.ma0            { margin:        0   !important; }
.ma1            { margin:        1em !important; }
.ma2            { margin:        2em !important; }
.mt0            { margin-top:    0   !important; }
.mt1            { margin-top:    1em !important; }
.mt2            { margin-top:    2em !important; }
.mb0            { margin-bottom: 0   !important; }
.mb1            { margin-bottom: 1em !important; }
.mb2            { margin-bottom: 2em !important; }
.ml1            { margin-left:   1em !important; }
.ml2            { margin-left:   2em !important; }
.mr1            { margin-right:  1em !important; }
.mr2            { margin-right:  2em !important; }

.pa0            { padding:        0   !important; }
.pa1            { padding:        1em !important; }
.pa2            { padding:        2em !important; }
.pt0            { padding-top:    0   !important; }
.pt1            { padding-top:    1em !important; }
.pt2            { padding-top:    2em !important; }
.pb0            { padding-bottom: 0   !important; }
.pb1            { padding-bottom: 1em !important; }
.pb2            { padding-bottom: 2em !important; }
.pl1            { padding-left:   1em !important; }
.pl2            { padding-left:   2em !important; }
.pr1            { padding-right:  1em !important; }
.pr2            { padding-right:  2em !important; }


// Hide/Show 

.not-mobile   {
	@include bp(mobile) {
		display:none !important;
	}
}
.not-desktop  {
	@include bp(desktop) {
		display:none !important;
	}
}

// Images

.img-responsive { @include img-responsive(); }
.img-rounded    { border-radius: $br + rem(5px); }
.img-circle     { border-radius: 50%; }
.img-thumb {
  padding: 0.375rem;
  line-height: 1.6;
  background-color: #eaeaea;
  border: 1px solid #aaaaaa;
  border-radius: 0rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }
