/*
Adapted from GridBot + StyleBot
(c) 2014 lucaspark
Licensed Under the MIT License.
https://github.com/lucaspark/gridbot
*/
// -- MIXIN IMPORT --

@import "mixins";

// -- VARIABLES IMPORT --

@import "t3var";

/* 
--------------------
RESET EVERYTHING 
-------------------- 
*/

@import "reset";

/* 
--------------------
COLOR FUNCTIONS
-------------------- 
*/

@import "colors";

/* 
--------------------
HTML / BODY
-------------------- 
*/

@import "body";

/* 
--------------------
GRID
-------------------- 
*/

@import "grid";

/* 
--------------------
HELPFUL CLASSES
-------------------- 
*/

@import "utils";

/* 
--------------------
TYPOGRAPHY
-------------------- 
*/

@import "type";

/* 
--------------------
BUTTONS
-------------------- 
*/

@import "button";


/* 
--------------------
FORMS
-------------------- 
*/

@import "forms";

/* 
--------------------
NAV and MENU
-------------------- 
*/

@import "nav";

/* 
--------------------
TABLES
-------------------- 
*/

@import "tables";

/*
--------------------
ALERTS and WELLS
-------------------- 
*/

@import "alerts";
@import "wells";

/*
--------------------
PAGINATION
-------------------- 
*/

@import "pagination";


/*
--------------------
MOBILE MENU
-------------------- 
*/

@import "mobile";

/*
--------------------
LISTS
-------------------- 
*/

@import "lists";

/*
--------------------
MODAL
-------------------- 
*/

@import "modal";

/*
--------------------
SLIDER
-------------------- 
*/

@import "slider";

/*
--------------------
PRICE TABLE
-------------------- 
*/

@import "price";

/*
--------------------
ANIMATION
-------------------- 
*/

@import "animation";

/*
--------------------
CAPTIONS
-------------------- 
*/

@import "captions";

/* 
--------------------
GOOGLE FORMS
-------------------- 
*/

@import "gform";

/*
--------------------
CUSTOM / OVERWRITES
-------------------- 
*/


$t3-bg: url(../img/t3/t3bg.png);
$t3-form: $silver;

/* Template 3 */

body {
   margin-top:10px;
   background: $t3-bg repeat;
}
.t3-form {
	background: $t3-form;
}
#logo h1 {
	margin-top:5px;
	@media screen and (max-width:$break){
		margin-top:10px;
		font-size:26px;
	}
}
