/*
Adapted from GridBot + StyleBot
(c) 2014 lucaspark
Licensed Under the MIT License.
https://github.com/lucaspark/gridbot
*/
// -- MIXIN IMPORT --

@import "mixins";

// -- VARIABLES IMPORT --

@import "t4var";

/* 
--------------------
RESET EVERYTHING 
-------------------- 
*/

@import "reset";

/* 
--------------------
COLOR FUNCTIONS
-------------------- 
*/

@import "colors";

/* 
--------------------
HTML / BODY
-------------------- 
*/

@import "body";

/* 
--------------------
GRID
-------------------- 
*/

@import "grid";

/* 
--------------------
HELPFUL CLASSES
-------------------- 
*/

@import "utils";

/* 
--------------------
TYPOGRAPHY
-------------------- 
*/

@import "type";

/* 
--------------------
BUTTONS
-------------------- 
*/

@import "button";


/* 
--------------------
FORMS
-------------------- 
*/

@import "forms";

/* 
--------------------
NAV and MENU
-------------------- 
*/

@import "nav";

/* 
--------------------
TABLES
-------------------- 
*/

@import "tables";

/*
--------------------
ALERTS and WELLS
-------------------- 
*/

@import "alerts";
@import "wells";

/*
--------------------
PAGINATION
-------------------- 
*/

@import "pagination";


/*
--------------------
MOBILE MENU
-------------------- 
*/

@import "mobile";

/*
--------------------
LISTS
-------------------- 
*/

@import "lists";

/*
--------------------
MODAL
-------------------- 
*/

@import "modal";

/*
--------------------
SLIDER
-------------------- 
*/

@import "slider";

/*
--------------------
PRICE TABLE
-------------------- 
*/

@import "price";

/*
--------------------
ANIMATION
-------------------- 
*/

@import "animation";

/*
--------------------
CAPTIONS
-------------------- 
*/

@import "captions";

/* 
--------------------
GOOGLE FORMS
-------------------- 
*/

@import "gform";

/*
--------------------
CUSTOM / OVERWRITES
-------------------- 
*/

$t4-bg: url(../img/t4/t4bg.jpg);

/* Template 4 */

body {
	background: $t4-bg no-repeat center center fixed; 
	-moz-background-size: cover;
	background-size: cover;
}
#main .container {
	padding:20px;
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF)"; /* IE8 */
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);   /* IE6 & 7 */
	      zoom: 1;
	background:rgba(255,255,255,0.7);
}