/*
Adapted from GridBot + StyleBot
(c) 2014 lucaspark
Licensed Under the MIT License.
https://github.com/lucaspark/gridbot
*/
// -- MIXIN IMPORT --

@import "mixins";

// -- VARIABLES IMPORT --

@import "t5var";

/* 
--------------------
RESET EVERYTHING 
-------------------- 
*/

@import "reset";

/* 
--------------------
COLOR FUNCTIONS
-------------------- 
*/

@import "colors";

/* 
--------------------
HTML / BODY
-------------------- 
*/

@import "body";

/* 
--------------------
GRID
-------------------- 
*/

@import "grid";

/* 
--------------------
HELPFUL CLASSES
-------------------- 
*/

@import "utils";

/* 
--------------------
TYPOGRAPHY
-------------------- 
*/

@import "type";

/* 
--------------------
BUTTONS
-------------------- 
*/

@import "button";


/* 
--------------------
FORMS
-------------------- 
*/

@import "forms";

/* 
--------------------
NAV and MENU
-------------------- 
*/

@import "nav";

/* 
--------------------
TABLES
-------------------- 
*/

@import "tables";

/*
--------------------
ALERTS and WELLS
-------------------- 
*/

@import "alerts";
@import "wells";

/*
--------------------
PAGINATION
-------------------- 
*/

@import "pagination";


/*
--------------------
MOBILE MENU
-------------------- 
*/

@import "mobile";

/*
--------------------
LISTS
-------------------- 
*/

@import "lists";

/*
--------------------
MODAL
-------------------- 
*/

@import "modal";

/*
--------------------
SLIDER
-------------------- 
*/

@import "slider";

/*
--------------------
PRICE TABLE
-------------------- 
*/

@import "price";

/*
--------------------
ANIMATION
-------------------- 
*/

@import "animation";

/*
--------------------
CAPTIONS
-------------------- 
*/

@import "captions";

/* 
--------------------
GOOGLE FORMS
-------------------- 
*/

@import "gform";

/*
--------------------
CUSTOM / OVERWRITES
-------------------- 
*/

/* Template 5 */

html,body {
	margin:0;
	padding:0;
	height:100%;
} 
body {
	background: url('../img/t5/t5bg.jpg') no-repeat center center fixed;
	-moz-background-size: cover;
	background-size: cover;
	color: #f2f2f2;
}

.container {
  position: relative;
  padding-top:100px;
  	.soonLogo {
    	margin-bottom: 50px;
    	width: 300px;
    	@media screen and (max-width: $break) {
			width: 250px; 
    	}
    }
  	.comingSoon {
    	font-weight: 400;
    	font-size: 60px;
    	@media screen and (max-width: $break) {
        	font-size: 42px; 
    	}
	}
}

@media screen and (max-width:$break) {
	input {
		display:inline-block !important;
	}
}


.socialIcon {
  font-size: 32px; }
  .socialIcon a {
    color: white;
    margin-right: 15px; }
    .socialIcon a:hover, .socialIcon a:focus {
      color: #d9d9d9;
      text-decoration: none; }