/*
Adapted from GridBot + StyleBot
(c) 2014 lucaspark
Licensed Under the MIT License.
https://github.com/lucaspark/gridbot
*/
// -- MIXIN IMPORT --

@import "mixins";

// -- VARIABLES IMPORT --

@import "t6var";

/* 
--------------------
RESET EVERYTHING 
-------------------- 
*/

@import "reset";

/* 
--------------------
COLOR FUNCTIONS
-------------------- 
*/

@import "colors";

/* 
--------------------
HTML / BODY
-------------------- 
*/

@import "body";

/* 
--------------------
GRID
-------------------- 
*/

@import "grid";

/* 
--------------------
HELPFUL CLASSES
-------------------- 
*/

@import "utils";

/* 
--------------------
TYPOGRAPHY
-------------------- 
*/

@import "type";

/* 
--------------------
BUTTONS
-------------------- 
*/

@import "button";


/* 
--------------------
FORMS
-------------------- 
*/

@import "forms";

/* 
--------------------
NAV and MENU
-------------------- 
*/

@import "nav";

/* 
--------------------
TABLES
-------------------- 
*/

@import "tables";

/*
--------------------
ALERTS and WELLS
-------------------- 
*/

@import "alerts";
@import "wells";

/*
--------------------
PAGINATION
-------------------- 
*/

@import "pagination";


/*
--------------------
MOBILE MENU
-------------------- 
*/

@import "mobile";

/*
--------------------
LISTS
-------------------- 
*/

@import "lists";

/*
--------------------
MODAL
-------------------- 
*/

@import "modal";

/*
--------------------
SLIDER
-------------------- 
*/

@import "slider";

/*
--------------------
PRICE TABLE
-------------------- 
*/

@import "price";

/*
--------------------
ANIMATION
-------------------- 
*/

@import "animation";

/*
--------------------
CAPTIONS
-------------------- 
*/

@import "captions";

/* 
--------------------
GOOGLE FORMS
-------------------- 
*/

@import "gform";

/*
--------------------
CUSTOM / OVERWRITES
-------------------- 
*/

$t6-bg: url(../img/t6/t6bg.png);
$t6-topbg: url(../img/t6/t6topbg.png);

/* Template 6 */

body {
	background: $t6-bg;
	@media screen and (max-width:$break){
		padding-top:150px;
	}
	padding-top:170px;
}
#logoBar {
	position: 		fixed;
	right: 			0;
	left: 			0;
	top:			0;
	z-index: 		1100;
	-webkit-box-shadow: 0 8px 6px -6px black;
   	-moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
	overflow:hidden;
	background: $t6-topbg repeat-x;
	img {
		margin: 0 auto;
	}
}
.footer {
	font-size:14px;
	span {
		margin-right:10px;
	}
}